apiVersion: monitoring.googleapis.com/v1
kind: PodMonitoring
metadata:
  name: backend-app-monitor
  namespace: doomed-apt
spec:
  selector:
    matchLabels:
      app: backend 
  podMetricsEndpoints:
  - port: http 
    path: /actuator/prometheus
    interval: 30s