apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-collector-config
  namespace: doomed-apt
data:
  otel-config.yaml: |
    receivers:
      otlp:
        protocols:
          http:
    processors:
      batch:
    exporters:
      googlecloud:
        project: doomapt-project
    service:
      pipelines:
        traces:
          receivers: [otlp]
          processors: [batch]
          exporters: [googlecloud]