apiVersion: v1
kind: Service
metadata:
  name: otel-collector-svc
  namespace: doomed-apt
spec:
  selector:
    app: otel-collector
  ports:
  - protocol: TCP
    port: 4318
    targetPort: 4318
    name: otlp-http