apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: doomed-apt
  labels:
    app: backend
  annotations:
    cloud.google.com/backend-config: '{"default": "backend-backendconfig"}'
spec:
  type: ClusterIP
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
