apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: doomed-apt
  labels:
    app: backend
spec:
  type: NodePort
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
